<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="/dogs/create", method="POST">

            <label for="name">Name</label>
            <input type="text" name="name" id="">
            <label for="age">Age</label>
            <input type="number" name="age" id="">
            <label for="breed">Breed</label>
            <input type="text" name="breed" id="">
            <label for="owner_id">Owner</label>
            <select name="owner_id" id="">
                {% for owner in all_owners %}
                    <option value="{{owner.id}}">{{owner.full_name()}}</option>
                {% endfor %}
                
            </select>
            <input type="submit" value="Create">

        </form>
    </div>
</body>
</html>